<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить статью</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Добавить новую статью</h1>
        <nav>
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('show_articles') }}">Статьи</a>
        </nav>
    </header>

    <main>
        <form method="POST">
            <input type="text" name="title" placeholder="Заголовок" required>
            <textarea name="content" placeholder="Текст статьи" required></textarea>
            <button type="submit">Опубликовать</button>
        </form>
    </main>
</body>
</html>